@import "tailwindcss";

@theme {
  --color-brand-primary: #FF3D00;
  --color-brand-secondary: #FFD600;
  --color-brand-accent: #00E676;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8fafc;
  color: #1e293b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
